DATABASE_URL=postgresql://neondb_owner:npg_RrHn4DqadXc7@ep-late-credit-afsg10ef.c-2.us-west-2.aws.neon.tech/neondb?sslmode=require

PGDATABASE=neondb

PGHOST=ep-late-credit-afsg10ef.c-2.us-west-2.aws.neon.tech

PGPORT=5432

PGUSER=neondb_owner

PGPASSWORD=npg_RrHn4DqadXc7

OPENAI_API_KEY=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

CARTESIA_API_KEY=sk_car_a6F3YVYJYDTw1TnJaBeFYo